# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build / distribution
build/
dist/
*.egg-info/

# Logs
*.log

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

# Automata / synthesis files
*.hoa
*.dot
*.txt
#flake ignore
.flake8
#history ignore
./history
